*{
    padding:0; 
    margin:0; 
    box-sizing: border-box;
}

.feeds-content-blocks{
    width:100%;  
    color:white; 
    margin-top:2rem; 
    border-radius: 1rem;
    padding-left:1rem; 
}

.feeds-content_blocks-column{
    display: inline-block;
    width: 23%;
    margin: 0 .6rem;  
}