*{
    padding:0; 
    margin:0; 
    box-sizing: border-box;
}

.coin-wrapper{
    display: block;
    width: 100%;
}

.coin-heading-wrapper{
    background-color:#01010eea;
    border-radius: 1rem;
    margin-bottom: 2rem;
}


.coin-heading_logo{
    border-bottom: grey 1px solid;
    border-radius: 1rem 1rem 0 0;
}

.coin-heading_logo-coin{
    color:white; 
    font-size: 2.5rem;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    padding-left:2rem; 
    padding-top:1rem; 
}

.coin-heading_logo-logo{
    cursor: pointer;
    padding: .5rem 0 1rem 2rem;
    display: inline-block; 
}

.coin-heading_logo-name{
    cursor: pointer;
    position: relative;
    top:-2rem; 
    color:rgb(218, 62, 218); 
    font-size: 1.7rem;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    padding-left: 2rem;  
    display: inline-block;
}


.coin-heading_info{
    border-top: grey 1px solid; 
    border-radius: 0 0 1rem 1rem;
    padding-left: 2rem;  
}

.coin-heading_info-details{
    padding: 1rem 0 1.5rem 1rem;
    display: inline-block;
    font-size: 1rem;
    width:13rem; 
    color:rgba(197, 202, 206, 0.863); 
    margin-right: 2rem;
    border-radius: 0 0 1rem 1rem;
}

.coin-heading_info-1{
    color: aliceblue;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 1.5rem;
}
.coin-heading_info-2{
    color: rgb(171, 160, 204);
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 1.2rem;
}


.coin-graph-wrapper{
    background-color:#01010eea;
    border-radius: 1rem;
    padding: 1rem 0; 
    cursor: pointer;
}

.coin-graph-toggler{
    text-align: center;
    width: 7rem; 
    display: block;
    padding: .5rem; 
    position: absolute;
    border: grey .05rem solid;
    cursor: pointer;
    color:rgb(79, 54, 221);
    right: 30rem;
    top: 25rem; 
    z-index: 100;
}

.coin-graph-toggler:hover{
    background-color: rgb(50, 45, 66);
}

.coin-graph-button_list{
    display: inline-block;
    width:18%; 
    height: 100%;
    border-right:rgb(209, 200, 200) .05rem solid;
    padding-left:2rem; 
}

.coin-graph-graph_typeC{
    display: inline-block;
    width:82%; 
    height: 100%;
}
