.coin-table-sticky-header{
  z-index: 3 !important;
  border-right:inset;
}
.coin-table-sticky-col{
  position: sticky !important;
  left: 0 !important;
  z-index: 1 !important;
  border-right:inset;
}