*{
    padding:0; 
    margin:0; 
    box-sizing: border-box;
}

.feeds-content-list{
    background-color: #01010eea;
    width:100%;  
    color:white; 
    margin-top:2rem; 
    border-radius: 1rem;
}

.feeds-content_list-link{
    text-decoration: none;
}

.feeds-content_list-item{
    position: relative;
    justify-content: center;
    display: block;
    width: 100%;
    height:6rem;
    border-radius: .5rem;
    background-color: #01010eea;
    border-top:.05rem solid grey; 
    border-bottom:.05rem solid grey; 
    padding: .5rem 1rem; 
}

.feeds-content_list-item:hover{
    background-color: rgba(19, 16, 26, 0.904);
}

.feeds-content_list-logo{
    position: relative;
    display: inline-block;
    height:100%; 
    width:8%;
    left:.5rem;  
    top:-1.4rem; 
}

.feeds-content_list-info{
    display: inline-block;
    width: 92%;
    height: 100%;
    padding: .2rem .5rem; 
}


.feeds-content_list-date{
    color:grey; 
    font-size: .9rem;
    margin-bottom:.3rem; 
    word-spacing: .2rem;
}

.feeds-content_list-body{
    margin-bottom:.3rem; 
    word-spacing: .2rem;
    font-size: 1rem;
}

.feeds-content_list-shares{
    color:rgb(102, 95, 131); 
    word-spacing: .2rem;
    font-size: .9rem;
}

.feeds-content_list-shares-span{
    margin-right: 1.5rem; 
}


























