*{
    padding:0; 
    margin:0; 
    box-sizing: border-box;
}

.feeds-content-list{
    background-color: #01010eea;
    width:100%;  
    color:white; 
    margin-top:2rem; 
    border-radius: 1rem;
}

