*{
    padding:0; 
    margin:0; 
    box-sizing: border-box;
}

.compare-logo-wrapper{
    display: block;
    width: 100%; 
    margin-bottom: 1rem;
    text-align: center;
}

.compare-logo_heading{
    color:rgb(149, 153, 196); 
    font-size: 5rem;
    font-weight: 900;
    font-family: fantasy;
}


.compare-content-wrapper{
    border-top: .05rem solid grey;
    border-bottom: .05rem solid grey;
    background-color: #01010eea;
}

.button-list-wrapper{
    display: inline-block;
    width: 13%; 
}

.compare-graph-wrapper{
    display: inline-block;
    width: 74%;
    padding-right:2rem; 
}
