.coin-table-sticky-header{
    z-index: 3 !important;
    border-right:inset;
}

.coin-table-sticky-col{
    position: sticky !important;
    left: 0 !important;
    z-index: 1 !important;
    border-right:inset;
}

.metrics-check-box-menu{
    position: absolute;
    z-index: 5;
    width: 100px;
    float: right;
    right: 10px;
}

.cryptocurrency-logo{
    width: 32px;
    height: 32px;
    margin-left: 10px;
}